*.pyc
.idea
.vscode
*/*.pyc
*/*/*.pyc
**/migrations/*
aslm/accounts/migrations/*
aslm/base/migrations/*
aslm/home/migrations/*
!aslm/accounts/migrations/__init__.py
!aslm/base/migrations/__init__.py
!aslm/home/migrations/__init__.py

aslm/logs
aslm/logs/*
aslm/static/*
/__pycache__
*/static/
